body{
  font-family: monserrat;
}


          .discount-price {
              text-decoration: line-through;
              color: gray;
          }
          .actual-price {
              color: 
               black;
          }

          .paymentLabel {
              display: flex;
              align-items: center;
          }



nav{
  background: #000000;
  height: 80px;
  width: 100%;   
  animation: 1s ease-out 0s 1 slideInFromUp;
}

label.logo{
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: rgb(124, 147, 124);
  transition: .5s;
}

label {
  font-size: 20px;
}

h1 {
  margin: 0;
}


#container {
  display: flex;
  position: relative;
  flex: 1;
}

#sidebar {
  font-style: oblique;
  background: rgb(255, 0, 0);
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

#main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 20px;
}

input {
  border-radius: 5px;
  height: 30px;
}

.submitBtn:active {
  background-color: #000000;
}

.submitBtn:hover {
  background-color: #0451e9;
}

.grid-item {
  background: #fff;
  color: #f00000;
  padding: 20px;
  border-radius: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




#chatbox {
  position: absolute;
  width: 100px;
  display: flex;
  background-color: blue;
  border-radius: 100%;
  z-index: 0;
  bottom: 5%;
  right: 5%;
  z-index: 20;
}

#messagebox {
  padding:20px;
}

#messagebox:hover {
  padding:30px;
}

#fixedDiv {
  position: fixed;
  color: white;
  background-color: sandybrown;
  display: flex;
  border-radius: 100%;
  width: 100px;
  bottom: 5%;
  left: 5%;
  height: 100px;
  z-index: 21;
  align-items: center;
  justify-content: center;
}

#stickyBar {
  position: sticky;
  top: 0px;
  grid-column: span 4 / span 4;
  width: 100%;
  height: 200px;
  background-color: pink;
}


@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*    
Important CSS properties 
height - done
width - done
margin - done
padding - done
display - done
position - done
left, top, botm, right - done
links 
icon 
border - done
box
pseudo elemens
align */


/* function example of math f = (x) takes input and give output *